<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @employee.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @employee.password %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @employee.comments %>
</p>

<p>
  <strong>Person:</strong>
  <%= @employee.person_id %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @employee.deleted %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
