<%= form_for(@sale_payment) do |f| %>
  <% if @sale_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale_payment.errors.count, "error") %> prohibited this sale_payment from being saved:</h2>

      <ul>
      <% @sale_payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sale_id %><br>
    <%= f.number_field :sale_id %>
  </div>
  <div class="field">
    <%= f.label :payment_type %><br>
    <%= f.text_field :payment_type %>
  </div>
  <div class="field">
    <%= f.label :payment_amount %><br>
    <%= f.text_field :payment_amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
