<p id="notice"><%= notice %></p>

<p>
  <strong>Comments:</strong>
  <%= @customer.comments %>
</p>

<p>
  <strong>Person:</strong>
  <%= @customer.person_id %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @customer.deleted %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
