<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tax.name %>
</p>

<p>
  <strong>Percent:</strong>
  <%= @tax.percent %>
</p>

<%= link_to 'Edit', edit_tax_path(@tax) %> |
<%= link_to 'Back', taxes_path %>
